<!DOCTYPE html>
<html>
  <head>
    <title>AdvancedFinanceManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Advanced Finance Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Transactions', transactions_path, class: "nav-link#{ ' active' if current_page? transactions_path }" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Accounts', accounts_path, class: "nav-link#{ ' active' if current_page? accounts_path }" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Analytics', analytics_path, class: "nav-link#{ ' active' if current_page? analytics_path }" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Currencies', currencies_path, class: "nav-link#{ ' active' if current_page? currencies_path }" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', :method => :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: "nav-link#{ ' active' if current_page? root_path }" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Login', new_user_session_path, class: "nav-link#{ ' active' if current_page? new_user_session_path }" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Register', new_user_registration_path, class: "nav-link#{ ' active' if current_page? new_user_registration_path }" %>
              </li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <div class="navbar-text">
              Welcome back, <%= current_user.username %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container" style="margin-top: 8rem">
      <% flash.each do |key, value| %>
        <% type = 'danger' if key == 'error' %>
        <% type = 'warning' if key == 'alert' %>
        <% type = 'info' if key == 'notice' %>
        <% type ||= key %>
        <div class="alert alert-<%= type %> my-3 rounded" role="alert">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
