<h2>New account</h2>
<div class="row mt-5">
  <div class="col-12 col-lg-6">
    <div class="border rounded p-3">
      <%= form_with model: @account do |f| %>
        <%= f.label :name, 'Name:' %><br />
        <%= f.text_field :name, autofocus: true %><br /><br />
        <%= f.label :amount, 'Amount:' %><br />
        <%= f.text_field :amount %><br /><br />
        <%= f.label :currency_id, 'Currency:' %><br />
        <%= f.collection_select :currency_id, Currency.all, :id, :code %><br />
        <%= f.submit 'Create', class: 'btn btn-primary mt-4', role: 'button' %>
      <% end %>
    </div>
  </div>
</div>